extends ../layout

block content
    .container
        .row
            .col-md-12.text-center
                h1.text-center Животни
                br
                table.table.table-striped.table-bordered
                    thead 
                        tr
                            th Name 
                            th Species 
                            th Age 
                            th Habitat 
                            th Diet 
                            th Weight 
                            th Length
                            th(colspan = "2") Actions 
                    tbody 
                        each animal in animals 
                            tr 
                                td= animal.name
                                td= animal.species 
                                td= animal.characteristics.age
                                td= animal.characteristics.habitat
                                td= animal.characteristics.diet 
                                td= animal.characteristics.weight
                                td= animal.characteristics.length
                                td 
                                    a(href="/animals/edit/#{animal.id}") Edit
                                    img(src="images/pencil.png", alt="Edit") 
                                td 
                                    a(href="/animals/delete/#{animal.id}") Delete
                                    img(src="/images/cross.png", alt="Delete") 
        a(href="/animals/addNew") Add new animal
        img(src="/images/add.png", alt="Add new animal")
                             



