extends ../layout

block content
    .container
        .row
            .col-md-12.text-center
                h1.text-center Коли
                br
                table.table.table-striped.table-bordered
                    thead 
                        tr
                            th Make
                            th Model 
                            th Year
                            th Color 
                            th Engine type 
                            th Horsepower 
                            th Transmission
                            th Price
                            th(colspan = "2") Actions 
                    tbody 
                        each car in cars 
                            tr 
                                td= car.make
                                td= car.model 
                                td= car.year
                                td= car.color
                                td= car.engine.type 
                                td= car.engine.horsepower
                                td= car.engine.transmission
                                td= car.price
                                td 
                                    a(href="/cars/edit/#{car.id}") Edit
                                        img(src="/images/pencil.png", alt="Edit") 
                                td 
                                    a(href="/cars/delete/#{car.id}") Delete
                                        img(src="/images/cross.png", alt="Delete") 
        a(href="/cars/addCar") Add new car
        img(src="/images/add.png", alt="Add new car")
                             



